---
import { Icon } from 'astro-icon/components';
import { SITE } from '~/utils/config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<div id="footer_art" class="grid grid-flow-col auto-cols-max content-center">&nbsp;</div>
<div id="footer_grass"> &nbsp; </div>
<footer class:list={[{ dark: theme === 'dark' }, 'relative not-prose fond-pied']}>
  <div class="fond-pied dark:font-pied absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
      <div class="grid grid-cols-12 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
      <div class="col-span-12 lg:col-span-4">
        <div class="mb-2">
          <a class="inline-block font-bold text-xl text-neutral-950 hover:text-neutral-50 dark:text-neutral-950 dark:hover:text-neutral-50" href={getHomePermalink()}>{SITE?.name}</a>
        </div>
        <div class="text-sm text-muted">
          {
            secondaryLinks.map(({ text, href }) => (
              <a
                class="text-neutral-800 hover:text-neutral-800 dark:text-neutral-800 hover:underline transition duration-150 ease-in-out mr-2 rtl:mr-0 rtl:ml-2"
                href={href}
                set:html={text}
              />
            ))
          }
        </div>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="col-span-6 md:col-span-3 lg:col-span-2">
            <div class="text-lime-400 dark:text-lime-400 font-medium mb-2">{title}</div>
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="text-sm">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-2">
                    <a
                      class="text-yellow-300 hover:underline dark:text-yellow-300 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                    >
                      <Fragment set:html={text} />
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </div>
        ))
      }
    </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      {
        socialLinks?.length ? (
          <ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0 rtl:ml-0 rtl:-mr-2 rtl:md:ml-0 rtl:md:mr-4">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="text-neutral-800 dark:text-neutral-800 hover:bg-gray-100 dark:hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="w-5 h-5" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
      <div class="text-sm mr-4 text-gray-300">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>

<style>
#footer_grass {
    background: url('grass.png') top center repeat-x;
    /* height: 39px; */
    margin-top: -39px;
	background-position: center;
}
#footer_art {
	background-image: url('footer-art.png');
	background-repeat: no-repeat;
	height: 180px;
	background-position: center;
  margin-bottom: 0px;
}

.fond-pied {
	background-color: #898989;
}

.clearfix {
  display: block;
}
.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}
</style>